body {
  color: #e72656;
  font-family: "Muli", sans-serif, "Open Sans", Arial;
}
header {
  text-align: center;
}
label {
  font-weight: 500;
}
input {
  margin: 0.5rem auto 1rem;
  padding: 0.5rem;
  border: 2px solid #c2c2c2;
  border-radius: 2px;
  outline: none;
}
input:focus {
  border: 2px solid #e72656;
  background-color: #f5cad5;
}
textArea {
  margin: 0.5rem auto 1rem;
  padding: 0.5rem;
  border: 2px solid #c2c2c2;
  border-radius: 2px;
  width: 90%;
  height: 60px;
  resize: none;
  outline: none;
}
textArea:focus {
  border: 2px solid #e72656;
  background-color: #f5cad5;
}
hr {
  border: 1px solid #e7c8d0;
}
button {
  appearance: none;
  padding: 0.6rem 1rem;
  margin: 0 0.2rem;
  background-color: #e72656;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  border: none;
}
button:hover {
  background-color: #c05772;
}
button.toggle {
  background-color: #a73955;
}
.container {
  margin: 0rem auto 1rem;
  max-width: 500px;
}
.content {
  padding: 0rem 1rem 1rem;
  border-radius: 5px;
  border: 1px solid #e72656;
}
.fav {
  height: 1rem;
  margin-left: 1rem;
}
.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-btn {
  text-align: center;
}
.ctrl-panel {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}
